# armor_pkg_info_debian.cfg
# This config file provides information on various Armor tools supported on open-estuary Debian.

Platforms:Open-Estuary  
Distribution:Debian
Supported Boards:D02,...
Supported Architectures:ARM64

#perf
Tool:perf
Version:3.19.8
Type:Custom
Documents:
https://github.com/open-estuary/estuary/blob/master/doc/README.armor.perf
Installation Commands:
dpkg -i /usr/local/armor/binary/linux-tools-common_3.19.0-39.44_all.deb
dpkg -i /usr/local/armor/binary/linux-tools-3.19.0-23_3.19.0-23.24_arm64.deb
Add path for the perf binary: 
echo "export PATH=/usr/lib/linux-tools-3.19.0-23:\$PATH" >> ~/.bashrc
echo "export PATH=/usr/lib/linux-tools-3.19.0-23:\$PATH" >> /etc/profile

#sar
Tool:sar
Version:11.0.1
Type:Standard
Installation Commands:
apt-get install -y sysstat

#strace
Tool:strace
Version:4.9
Type:Standard
Installation Commands:
apt-get install -y strace

#ltrace
Tool:ltrace
Version:0.7.3
Type:Standard
Installation Commands:
Default Installed.

#netstat
Tool:netstat
Version:1.42
Type:Standard
Installation Commands:
apt-get install -y net-tools

#top
Tool:top
Version:3.3.9
Type:Standard
Installation Commands:
Default Installed.

#pidstat
Tool:pidstat
Version:11.0.1
Type:Standard
Installation Commands:
apt-get install -y sysstat

#vmstat
Tool:vmstat
Version:3.3.9
Type:Standard
Installation Commands:
Default Installed.

#ftrace
Tool:ftrace
Version:N.A
Type:Standard
Installation Commands:
Default Tool.

#iostat
Tool:iostat
Version:11.0.1
Type:Standard
Installation Commands:
apt-get install -y sysstat

#tcpdump
Tool:tcpdump
Version:4.6.2
Type:Standard
Installation Commands:
apt-get install -y tcpdump

#ethtool
Tool:ethtool
Version:3.16
Type:Standard
Installation Commands:
apt-get install -y ethtool

#swapon, swapoff
Tool:swapon, swapoff
Version:2.25.2
Type:Standard
Installation Commands:
Default Installed.

#gdb
Tool:gdb
Version:7.7.1
Type:Standard
Installation Commands:
Default Installed.

#iptables
Tool:iptables
Version:1.4.21
Type:Standard
Documents:
https://github.com/open-estuary/estuary/blob/master/doc/README.armor.iptables
Installation Commands:
apt-get install -y iptables

#mkfs
Tool:mkfs
Version:2.25.2
Type:Standard
Installation Commands:
Default Installed.

#mount
Tool:mount
Version:2.25.2
Type:Standard
Installation Commands:
Default Installed.

#du,df
Tool:mount
Version:8.23
Type:Standard
Installation Commands:
Default Installed.

#dmidecode
Tool:dmidecode
Version:2.12
Type:Custom
Installation Commands:
Default Installed.

#fsck
Tool:fsck
Version:2.25.2
Type:Standard
Installation Commands:
Default Installed.

#lscpu
Tool:lscpu
Version:2.25.2
Type:Standard
Installation Commands:
Default Installed.

#lspci 
Tool:lspci
Version:3.2.1
Type:Standard
Installation Commands:
Default Installed.

# setpci
Tool:setpci
Version:3.2.1
Type:Standard
Installation Commands:
Default Installed.

#tail
Tool:tail
Version:8.23
Type:Standard
Installation Commands:
Default Installed.

#grep
Tool:grep
Version:2.2
Type:Standard
Installation Commands:
Default Installed.

#awk
Tool:awk
Version:1.3.3
Type:Standard
Installation Commands:
Default Installed.

#sed
Tool:sed
Version:4.2.2
Type:Standard
Installation Commands:
Default Installed.

#dstat
Tool:dstat
Version:0.7.2
Type:Standard
Installation Commands:
apt-get install -y dstat

#procps
Tool:procps
Version:3.3.9
Type:Standard
Installation Commands:
apt-get install -y procps

#tiptop
Tool:tiptop
Version:2.3
Type:Custom
Installation Commands:
dpkg -i /usr/local/armor/binary/tiptop-2.3_arm64.deb

#iotop
Tool:iotop
Version:0.6
Type:Standard
Installation Commands:
apt-get install -y iotop

#blktrace
Tool:blktrace
Version:2.0.0
Type:Standard
Installation Commands:
apt-get install -y blktrace

#nicstat
Tool:nicstat
Version:1.95
Type:Standard
Installation Commands:
apt-get install -y nicstat

#lldptool
Tool:lldptool
Version:0.9.46
Type:Standard
Installation Commands:
apt-get install -y libconfig9
dpkg -i /usr/local/armor/binary/lldpad_0.9.46-3_arm64.deb

#oprofile
Tool:oprofile
Version:1.0.0
Type:Standard
Installation Commands:
dpkg -i /usr/local/armor/binary/libopagent1_1.0.0-0ubuntu9_arm64.deb
dpkg -i /usr/local/armor/binary/oprofile_1.0.0-0ubuntu9_arm64.deb

#latencytop
Tool:latencytop
Version:0.5
Type:Standard
Installation Commands:
apt-get install -y latencytop

#kgdb
Tool:kgdb
Version:N.A
Type:Standard
Documents:
https://github.com/open-estuary/estuary/blob/master/doc/README.armor.kgdb.kdb
Installation Commands:
Default Installed.

#kdb
Tool:kdb
Version:N.A
Type:Standard
Documents:
https://github.com/open-estuary/estuary/blob/master/doc/README.armor.kgdb.kdb
Installation Commands:
Default Installed.

#systemtap
Tool:systemtap
Version:2.7
Type:Standard
Installation Commands:
apt-get install -y systemtap-common
dpkg -i /usr/local/armor/binary/libnspr4_2%3a4.10.10-0ubuntu0.15.04.1_arm64.deb
apt-get install -y libnss3
dpkg -i /usr/local/armor/binary/libnss3_2%3a3.19.2.1-0ubuntu0.15.04.1_arm64.deb
dpkg -i /usr/local/armor/binary/systemtap-common_2.7-0ubuntu1_all.deb
dpkg -i /usr/local/armor/binary/systemtap-runtime_2.7-0ubuntu1_arm64.deb
dpkg -i /usr/local/armor/binary/systemtap_2.7-0ubuntu1_arm64.deb

#kprobes
Tool:kprobes
Version:N.A
Type:Standard
Installation Commands:
Default Installed.

#crash
Tool:crash
Version:7.1.3
Type:Standard
Installation Commands:
Default Installed.

#memwatch
Tool:memwatch
Version:2.69
Type:Standard
Installation Commands:
memwatch files to be integrated to the code to be tested.

#LTTNG
Tool:LTTNG
Version:2.5.0
Type:Custom
Documents:
https://github.com/open-estuary/estuary/blob/master/doc/README.armor.lttng
Installation Commands:
dpkg -i /usr/local/armor/binary/liburcu2_0.8.5-1ubuntu1_arm64.deb
dpkg -i /usr/local/armor/binary/liblttng-ctl0_2.5.2-1ubuntu1_arm64.deb
dpkg -i /usr/local/armor/binary/liblttng-ust-ctl2_2.5.1-1ubuntu2_arm64.deb
dpkg -i /usr/local/armor/binary/lttng-tools_2.5.2-1ubuntu1_arm64.deb
dpkg -i /usr/local/armor/binary/liblttng-ust0_2.5.1-1ubuntu2_arm64.deb
apt-get install -y babeltrace
lttng-modules-dkms default installed.

#powertop
Tool:powertop
Version:2.6.1
Type:Standard
Installation Commands:
apt-get install -y powertop

#slabtop
Tool:slabtop
Version:procps-ng 3.3.9
Type:Standard
Installation Commands:
apt-get install -y procps

#ktap
Tool:ktap
Version:0.4
Type:Custom
Installation Commands:
Default Installed.

#gprof
Tool:gprof
Version:2.25
Type:Standard
Installation Commands:
Default Installed.

#valgrind
Tool:valgrind
Version:3.10.0
Type:Standard
Installation Commands:
apt-get install -y valgrind

#sysdig
Tool:sysdig
Version:0.1.89
Type:Standard
Installation Commands:
apt-get install -y sysdig-dkms
apt-get install -y sysdig

